<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack-A-Thought</title>
  </head>
  <body>
    <a href="/">
      <h1>HackAThought</h1>
    </a>
    <h2>A tech blog for those that tech good</h2>
    <nav>
      <a href="/">home</a>
      <a href="/dashboard">dashboard</a>
      <a href="/login">login</a>
      <button class="no-button" id="logout">logout</button>
    </nav>
    <div>{{{body}}}</div>
  </body>
</html>