<div class="">
  <div class="">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="">
  <div class="">
    <h3>Blog:</h3>

    <form class="new-blog-form">
      <div class="">
        <label for="title">title:</label>
        <input class="" type="text" id="title" name="title" />
      </div>
      <div class="">
        <label for="content">content:</label>
        <textarea class="" id="content" name="content"></textarea>
      </div>
      <div class="">
        <button type="submit" class="">Submit</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="">
    <h3>Current Projects:</h3>

    {{#each blogs as |blog|}}
    <div class="">
      <div class="">
        <h4><a href="/blog/dashboard/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script

