<style>
  .roundLeft {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit; text-decoration: inherit; 
  }
</style>

<h2 class="mb-3">Welcome, {{name}}!</h2>

<div class="row">
<form class="new-blog-form col">
<h3>Create A Blog</h3>
<div class="form-floating mb-3">
  <input type="text" id="title" name="title" class="form-control" placeholder="descriptive title">
  <label for="title">Blog Title</label>
</div>

  <div class="form-group">
    <label for="content"></label>
      <textarea class="form-control mb-1" id="content" rows="12" name="content"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

{{#if blogs.length}}

  <div class="list-group col">
    <h3>Blogs</h3> 
    {{#each blogs as |blog|}}
      <div class="list-group-item list-group-item-action flex-column align-items-start mb-1">
        <a href="/blog/dashboard/{{blog.id}}" class="link-unstyled">
        <div class="d-flex w-100 justify-content-between ">
          <h5 class="mb-1">{{blog.title}}</h5>
          <small>{{format_date createdAt}}</small>
        </div>
        </a>
      </div>
    {{/each}}
  </div>
{{/if}}
</div>
<script src="./js/dashboard.js"></script

