{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>ID:{{id}}, Title: {{title}} on {{createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      Content: {{content}}
    </p>
  </div>
</div>
{{/each}}
