<form class="edit-blog-form">
  <h3 class="display-6">Update-A-Blog</h3>

  <div class="form-floating mb-3">
    <input type="text" id="updateTitle" name="updateTitle" class="form-control" placeholder="Title" value="{{title}}" />
    <label for="updateTitle">Update title</label>
  </div>

  <div class="form-group">
    <label for="updateContent"></label>
    <textarea class="form-control mb-3" id="updateContent" rows="12" name="updateContent">{{content}}</textarea>
  </div>

  <div class="btn-group d-flex" role="group" aria-label="Basic example">
    <button type="submit" data-id="{{id}}" class="btn btn-primary btn-lg">Update</button>
    <button type="button" data-delId="{{id}}" class="btn btn-outline-danger btn-lg">Delete</button>
  </div>

</form>

<script src="/js/updateBlog.js"></script>