    <form class="form new-project-form">
      
      <div class="form-group">
        <label for="updateTitle">Title</label>
        <input class="form-input" type="text" id="updateTitle" name="updateTitle"/>  
      </div>
      
      <div class="form-group">
        <label for="updateContent">Content</label>
        <textarea class="form-input" type="text" id="updateContent" name="updateContent"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Post</button>
        <button class="btn btn-primary">Delete</button>
      </div>
    </form>
  </div>

