    <form class="form new-blog-form">
      
      <div class="form-group">
        <label for="updateTitle">Title</label>
        <input class="form-input" type="text" id="updateTitle" name="updateTitle" value="{{title}}"/>  
      </div>
      
      <div class="form-group">
        <label for="updateContent">Content</label>
        <textarea class="form-input" type="text" id="updateContent" name="updateContent">{{content}}</textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Post</button>
        <button class="btn btn-primary" data-id="{{blog.id}}">Delete</button>
      </div>
    </form>
  </div>

<script src="./js/updateBlog.js"></script>
