@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --main-dark-color: #222;
  --main-light-color: #f4f2e7;
  --secondary-light-color: #b4c4cb;
}

* {
  color: var(--main-dark-color) ;
}

html, body {
  height: 100%;
  background-color: var(--main-light-color);
}

body > footer {
  position: sticky;
  top: 100vh;
}

.footer {
  height: 40px;
}

.push {
  height: 50px;
}

input,
textarea,
label, h2 {
  font-family: 'Lora', serif !important;
}

.navbar {
  background-color: var(--main-dark-color) ;
}

.a-nav:hover {
  color: var(--secondary-light-color) !important;
}

.card-subtitle,
h6 {
  font-weight: 100;
  font-size: 0.75em !important;
}

h3 {
  color: var(--secondary-light-color)
}

.list-group-item {
  border-radius: 0.375rem !important;
}

#signupBtn:hover {
  color: var(--main-light-color) !important;
}

.singleTitle {
  font-weight: 400;
}

.talkBackImg {
  width: 50px;
}

.gitHubBtn:hover {
  background-color: var(--secondary-light-color) !important;
  border-color: #212529;
}

.formWidth {
  max-width: 420px;
}

@media screen and (max-width: 992px) {
  .publishBlogMedia {
    width: 100% !important;
  }
}